<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact</title>
  <style>
    nav{
      display:flex;
      gap: 20px;font-size: 18px;
    }
    nav a{
      text-decoration: none;
    }
  </style>
</head>
<body>
  <h1>Contact Me</h1>
  <nav>
        <a href="{% url 'beranda_page'%}">Home</a>
        <a href="{% url 'about_page'%}">About</a>
        <a href="{% url 'news_page'%}">News</a>
        <a href="{% url 'contact_page'%}">Contact</a>
        <a href="{% url 'achievement_page'%}">Achiement</a>
        <a href="{% url 'education_page'%}">Education</a>
        <a href="{% url 'family_page'%}">Family</a>
        <a href="{% url 'product_page'%}">Projects</a>
        <a href="{% url 'skill_page'%}">Skill</a>
        <a href="{% url 'others_page'%}">Others</a>
      </nav>
</body>
</html>