body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial;
}

.container {
    border: 2px solid darkgreen;
    border-radius: 24px;
    padding: 20px;
    text-align: center;
    margin: 30px auto;
}

input {
    display: block;
    margin: 10px auto;
    padding: 8px;
    border: 0px solid;
    border-radius: 10px;
    background-color: #6b8c66;
    color: black
    
}

input::placeholder{
    color: white;
}

input:hover{
    background-color: #72996d;
}

input:focus{
    transition: all 0.3s ease;
    background-color: white;
    border: 1px solid darkgreen
}

button {
    padding: 8px 20px;
    margin: 10px auto;
    border-radius: 10px;
    border: 2px solid #72996d;
    background-color: white;
    cursor: pointer;
    
}

button:hover{
    transition: all 0.3s ease;
    background-color:#72996d;
    color: white;
}

.mahasiswi{
    display: flex;
    flex-direction: column;
}

.dosen{
   display: flex;
   flex-direction: column; 
}

table{
    border-collapse: collapse;
    width: 50%;
    margin: 5px auto;
    text-align: center;
}
tr th {
    background-color: darkgreen;
    padding: 10px;
    color: white;
}
tr td{
    background-color: white;
    border: 1px solid black;
    text-align: center;
    padding: 7px;
}
