<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mahasiswi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="mahasiswi">
    <h2>Data Nilai</h2>
    <table border="1px">
        <tr>
            <th>Nama</th>
            <th>Nilai</th>
        </tr>
        {% for n in nilai %}
        <tr>
            <td>{{ n.nama }}</td>
            <td>{{ n.nilai }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>